* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
html,
body{
height: 100%;
width: 100%;
overflow-x: hidden;
}
.slide-01{
    background: black;
    height: 4vh;
  }
  .slide-01 marquee{
    font-size: 2vh;
  }
  .blink {
    text-decoration: none;
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
.header {
  position: relative;
  z-index: 1;
  height: 5.755vh;
  width: 100vw;
  display: flex;
  justify-content:space-around;
}
.img{
    padding-left: 2vw;
   margin-top: 1.5vw;
   margin-left: 1.5vw;
}
.btn{
  display: flex;
  gap: 2em;
  height: 5vh;
  margin-top: 2vw;
}
.btn a:hover{
  border-bottom: 1px solid black;
}
.btn a{
  text-decoration: none;
  font-size: 1vw;
  color: black;
  padding-bottom: 2vw;
}
.idn{
  margin-top:3vw ;
  height: 5vh;
  display: flex;
  gap: 2em;
}
.idn i{
  text-decoration: none;
  font-size: 1.5vw;
  color: black;
  padding-bottom: 2vw;
}
.main-container{
    display: flex;
    padding: 0 3vw;
}
.left{
    width: 70%;
}
.right{
    width: 30%;
    padding: 0 2vw;
}
.countries{
  width: 100%;
  padding: 1vw 1vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.calculate{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 599;
  background: white; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  padding: 1vw 7.3vw;
  font-size: .8vw;
}
.calculate:hover{
color: white;
background: black;
transition: .5s;
}
.proceed{
  color:white;
  font-weight: 599;
  background:  black;
  border: none;
  padding: 1vw 7vw;
  font-size: .8vw;
}
.proceed:hover{
background: rgba(255, 0, 0, 0.8);
transition: .5s;
}
.continue{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 599;
  background: white; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  padding: 1vw 7.4vw;
  font-size: .8vw;
}
.continue:hover{
color: white;
background: black;
transition: .5s;
}
.icons{
  display: flex;
  gap: .8em;
}
.icons i{
  background: white;
  font-size: 1.7vw;
  border-radius: 50%;
  padding: .4vw;
}
.icons i:hover{
  background: rgba(0, 0, 105, 0.377);
  color: white;
}